/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
/.hvigor-user-home
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
entry/src/main/python/__pycache__/
entry/src/main/python/*.jpeg
MobiAgent/
AGENT.md
/build-profile.json5
