/node_modules
/oh_modules
/local.properties
/build-profile.json5
/.idea
**/build
/.hvigor
/.hvigor-user-home
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
entry/src/main/python/__pycache__/
entry/src/main/python/*.jpeg
MobiAgent/
AGENT.md*
AGENTS.md*
mobiagent/
build-profile.json5*
*.diff
*.bak
.codex-log/
.sandbox_dump/
.vscode/